
/* bars */
.progressbar-xs-back-grey	{height: 13px; padding:0px; margin:0px; background-color:#eceff1; border: 1px solid #607d8b; border-radius:2px; width: 100%; }
.progressbar-xs-fill-grey	{height: 11px; padding:0px; margin:0px; background-color:#607d8b; border: 1px solid #eceff1; border-radius:2px;				}
.progressbar-xs-back-blue	{height: 13px; padding:0px; margin:0px; background-color:#e3f2fd; border: 1px solid #64b5f6; border-radius:2px; width: 100%; }
.progressbar-xs-fill-blue	{height: 11px; padding:0px; margin:0px; background-color:#64b5f6; border: 1px solid #e3f2fd; border-radius:2px;				}
.progressbar-xs-back-green	{height: 13px; padding:0px; margin:0px; background-color:#e8f5e9; border: 1px solid #81c784; border-radius:2px; width: 100%; }
.progressbar-xs-fill-green	{height: 11px; padding:0px; margin:0px; background-color:#81c784; border: 1px solid #e8f5e9; border-radius:2px;				}
.progressbar-xs-back-yellow	{height: 13px; padding:0px; margin:0px; background-color:#fff3e0; border: 1px solid #ffb74d; border-radius:2px; width: 100%; }
.progressbar-xs-fill-yellow	{height: 11px; padding:0px; margin:0px; background-color:#ffb74d; border: 1px solid #fff3e0; border-radius:2px;				}
.progressbar-xs-back-red	{height: 13px; padding:0px; margin:0px; background-color:#ffebee; border: 1px solid #e57373; border-radius:2px; width: 100%; }
.progressbar-xs-fill-red	{height: 11px; padding:0px; margin:0px; background-color:#e57373; border: 1px solid #ffebee; border-radius:2px;				}
.progressbar-s-back-grey	{height: 20px; padding:0px; margin:0px; background-color:#eceff1; border: 1px solid #607d8b; border-radius:4px; width: 100%; }
.progressbar-s-fill-grey	{height: 18px; padding:0px; margin:0px; background-color:#607d8b; border: 1px solid #eceff1; border-radius:4px;				}
.progressbar-s-back-blue	{height: 20px; padding:0px; margin:0px; background-color:#e3f2fd; border: 1px solid #64b5f6; border-radius:4px; width: 100%; }
.progressbar-s-fill-blue	{height: 18px; padding:0px; margin:0px; background-color:#64b5f6; border: 1px solid #e3f2fd; border-radius:4px;				}
.progressbar-s-back-green	{height: 20px; padding:0px; margin:0px; background-color:#e8f5e9; border: 1px solid #81c784; border-radius:4px; width: 100%; }
.progressbar-s-fill-green	{height: 18px; padding:0px; margin:0px; background-color:#81c784; border: 1px solid #e8f5e9; border-radius:4px;				}
.progressbar-s-back-yellow	{height: 20px; padding:0px; margin:0px; background-color:#fff3e0; border: 1px solid #ffb74d; border-radius:4px; width: 100%; }
.progressbar-s-fill-yellow	{height: 18px; padding:0px; margin:0px; background-color:#ffb74d; border: 1px solid #fff3e0; border-radius:4px;				}
.progressbar-s-back-red		{height: 20px; padding:0px; margin:0px; background-color:#ffebee; border: 1px solid #e57373; border-radius:4px; width: 100%; }
.progressbar-s-fill-red		{height: 18px; padding:0px; margin:0px; background-color:#e57373; border: 1px solid #ffebee; border-radius:4px;				}
.progressbar-m-back-grey	{height: 28px; padding:0px; margin:0px; background-color:#eceff1; border: 1px solid #607d8b; border-radius:4px; width: 100%; }
.progressbar-m-fill-grey	{height: 26px; padding:0px; margin:0px; background-color:#607d8b; border: 1px solid #eceff1; border-radius:4px;				}
.progressbar-m-back-blue	{height: 28px; padding:0px; margin:0px; background-color:#e3f2fd; border: 1px solid #64b5f6; border-radius:4px; width: 100%; }
.progressbar-m-fill-blue	{height: 26px; padding:0px; margin:0px; background-color:#64b5f6; border: 1px solid #e3f2fd; border-radius:4px;				}
.progressbar-m-back-green	{height: 28px; padding:0px; margin:0px; background-color:#e8f5e9; border: 1px solid #81c784; border-radius:4px; width: 100%; }
.progressbar-m-fill-green	{height: 26px; padding:0px; margin:0px; background-color:#81c784; border: 1px solid #e8f5e9; border-radius:4px;				}
.progressbar-m-back-yellow	{height: 28px; padding:0px; margin:0px; background-color:#fff3e0; border: 1px solid #ffb74d; border-radius:4px; width: 100%; }
.progressbar-m-fill-yellow	{height: 26px; padding:0px; margin:0px; background-color:#ffb74d; border: 1px solid #fff3e0; border-radius:4px;				}
.progressbar-m-back-red		{height: 28px; padding:0px; margin:0px; background-color:#ffebee; border: 1px solid #e57373; border-radius:4px; width: 100%; }
.progressbar-m-fill-red		{height: 26px; padding:0px; margin:0px; background-color:#e57373; border: 1px solid #ffebee; border-radius:4px;				}
.progressbar-l-back-grey	{height: 40px; padding:0px; margin:0px; background-color:#eceff1; border: 1px solid #607d8b; border-radius:4px; width: 100%; }
.progressbar-l-fill-grey	{height: 38px; padding:0px; margin:0px; background-color:#607d8b; border: 1px solid #eceff1; border-radius:4px;				}
.progressbar-l-back-blue	{height: 40px; padding:0px; margin:0px; background-color:#e3f2fd; border: 1px solid #64b5f6; border-radius:4px; width: 100%; }
.progressbar-l-fill-blue	{height: 38px; padding:0px; margin:0px; background-color:#64b5f6; border: 1px solid #e3f2fd; border-radius:4px;				}
.progressbar-l-back-green	{height: 40px; padding:0px; margin:0px; background-color:#e8f5e9; border: 1px solid #81c784; border-radius:4px; width: 100%; }
.progressbar-l-fill-green	{height: 38px; padding:0px; margin:0px; background-color:#81c784; border: 1px solid #e8f5e9; border-radius:4px;				}
.progressbar-l-back-yellow	{height: 40px; padding:0px; margin:0px; background-color:#fff3e0; border: 1px solid #ffb74d; border-radius:4px; width: 100%; }
.progressbar-l-fill-yellow	{height: 38px; padding:0px; margin:0px; background-color:#ffb74d; border: 1px solid #fff3e0; border-radius:4px;				}
.progressbar-l-back-red		{height: 40px; padding:0px; margin:0px; background-color:#ffebee; border: 1px solid #e57373; border-radius:4px; width: 100%; }
.progressbar-l-fill-red		{height: 38px; padding:0px; margin:0px; background-color:#e57373; border: 1px solid #ffebee; border-radius:4px;				}
@keyframes progressbarrun {from {width: 0px;}}


.progressbar-back-grey		{float:left; padding:0px; margin:0px; background-color:#eceff1; border: 1px solid #607d8b; border-radius:2px; width: 100%; }
.progressbar-fill-grey		{float:left; padding:0px; margin:0px; background-color:#607d8b; border: 1px solid #eceff1; border-radius:2px; height:100%; animation: progressbarrun 1s; animation-fill-mode: forwards; animation-timing-function: ease; }
.progressbar-back-blue		{float:left; padding:0px; margin:0px; background-color:#e3f2fd; border: 1px solid #64b5f6; border-radius:2px; width: 100%; }
.progressbar-fill-blue		{float:left; padding:0px; margin:0px; background-color:#64b5f6; border: 1px solid #e3f2fd; border-radius:2px; height:100%; animation: progressbarrun 1s; animation-fill-mode: forwards; animation-timing-function: ease; }
.progressbar-back-green		{float:left; padding:0px; margin:0px; background-color:#e8f5e9; border: 1px solid #81c784; border-radius:2px; width: 100%; }
.progressbar-fill-green		{float:left; padding:0px; margin:0px; background-color:#81c784; border: 1px solid #e8f5e9; border-radius:2px; height:100%; animation: progressbarrun 1s; animation-fill-mode: forwards; animation-timing-function: ease; }
.progressbar-back-yellow	{float:left; padding:0px; margin:0px; background-color:#fff3e0; border: 1px solid #ffb74d; border-radius:2px; width: 100%; }
.progressbar-fill-yellow	{float:left; padding:0px; margin:0px; background-color:#ffb74d; border: 1px solid #fff3e0; border-radius:2px; height:100%; animation: progressbarrun 1s; animation-fill-mode: forwards; animation-timing-function: ease; }
.progressbar-back-red		{float:left; padding:0px; margin:0px; background-color:#ffebee; border: 1px solid #e57373; border-radius:2px; width: 100%; }
.progressbar-fill-red		{float:left; padding:0px; margin:0px; background-color:#e57373; border: 1px solid #ffebee; border-radius:2px; height:100%; animation: progressbarrun 1s; animation-fill-mode: forwards; animation-timing-function: ease; }
.progressbar-back-purple	{float:left; padding:0px; margin:0px; background-color:#f7ebff; border: 1px solid #d173e5; border-radius:2px; width: 100%; }
.progressbar-fill-purple	{float:left; padding:0px; margin:0px; background-color:#d173e5; border: 1px solid #f7ebff; border-radius:2px; height:100%; animation: progressbarrun 1s; animation-fill-mode: forwards; animation-timing-function: ease; }

.v-main .contents blockquote.is-disk {
	padding-left: 0 1rem 0;
    background-color: #f9f9f9;
	border-top:1px solid #d0d0d0;
	border-left:55px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
	border-radius:.5rem;
	margin:1rem 0;
	position:relative;
}

.v-main .contents blockquote.is-disk:before {
    content:"\F02CA";
	color: white;
}

.v-main .contents blockquote.is-disk code:not([class^=language-]) {
    background-color: black;
    color: green;
}

.theme--dark .v-main .contents blockquote.is-disk {
    background-color: #263238;
    color: gray;
    border-color: #1e1e1e;
	border-left:55px solid #464646;
    box-shadow: 0 0 2px 0 white;
}

.theme--dark .v-main .contents blockquote.is-disk:before {
    content:"\F02CA";
	color: white;
}




.v-main .contents blockquote.is-disk {
    background-color: yellow;
    border-color: white;
}

.v-main .contents blockquote.is-disk:before {
    content:"\F02CA";
	color: black;
}

.v-main .contents blockquote.is-disk code:not([class^=language-]) {
    background-color: yellow;
    color: green;
}

.theme--dark .v-main .contents blockquote.is-disk {
    background-color: white;
    color: gray;
    border-color: darkgray;
    box-shadow: 0 0 2px 0 white;
}
